html{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(18, 63, 21);
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../imagenes/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: rgb(58, 90, 64);
}

.barra-principal {
    color: rgb(58, 90, 64);
    font-size: 20px;
    a {
        font-size: 20px;
        color: rgb(18, 63, 21);
        text-decoration: none; 
    }
    img {
    width: 160px;  
    height: 55px;
    }
    a:hover {
        color: rgb(13, 26, 14);
        text-decoration: underline;
        font-size: 25px;
        transition: transform 0.8s ease;
    }
    li {
        display: inline-block;
        padding: 10px;
    }
}

h2 {
    color: rgb(58, 90, 64);
    a {
        color: rgb(58, 90, 64);
        text-decoration: none;
    }
    a:hover {
        color: rgb(38, 51, 39);
        text-decoration: underline;
    }
}

h3 {
    color: rgb(58, 90, 64);
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    a:hover {
        color: rgb(38, 51, 39);
        text-decoration: underline;
    }
}

video {
    width:80%;
    height: auto;
}

.barra-secundaria {
    color: rgb(58, 90, 64);
    ul {
        a {
            color: rgb(18, 63, 21);
            text-decoration: none; 
        }
        a:hover {
            color: rgb(13, 26, 14);
            text-decoration: underline;
            font-size: 25px;
            transition: transform 0.8s ease;
        }
    }
}

.materiales img {
  width: 180px;
  height: 180px;
}

.materiales img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

footer {
    background-color: rgb(46, 125, 50);
    color: rgb(255, 255, 255);
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    a:hover {
        color: rgb(165, 214, 167);
        text-decoration: underline;
    }
}
